.mainSection {
  flex: 1 1 0px;
  display: flex;
  overflow: hidden;
}

.content {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  transition: background-color 0.3s;
}

.toolBar {
  height: auto;
  display: block;
  padding: 12px 16px 0 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid;
}

.formSection {
  flex: 1 1 0px;
  display: flex;
  position: relative;
  background: white;
  flex-direction: column;
}

.addToTask {
  box-shadow: 0 17px 0 -16px #e5e5e5;
  padding: 0 13px;
  display: flex;
}
.addToTask form {
  display: flex;
}
.addToTask input {
  padding: 16px 12px;
}

.tasks {
  flex: 1 1 0px;
  display: flex;
  padding: 0 13px;
  position: relative;
  flex-direction: column;
}

.tasksItem {
  box-shadow: 0 17px 0 -16px #e5e5e5;
  display: flex;
}
