video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.main-container {
  background: url('/public/images/img-home.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

.main-container > h1 {
  font-size: 100px;
  margin-top: 100px;
  color: #fff;
  text-align: center;
}

.main-container > p {
  font-size: 32px;
  color: #fff;
  margin-bottom: 8px;
}

.main-btns .btn {
  margin: 6px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .main-container > h1 {
    font-size: 70px;
    margin-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .main-container > h1 {
    font-size: 50px;
    margin-top: 100px;
  }

  .main-container > p {
    font-size: 20px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
